body{
    font-family: sans-serif;
    /*background-color:#d5d5d5;*/
	background-color:#b1d3e3;
	
}

hr{
	background-color:#153f65;
}

nav {
	
    background-color: #153f65;
	/*#03244b;*/
}

/* Carousel */

.carousel-item > img {
	padding-top:10px;
    width: 60%;
    max-width: 900px;
    height: auto;
    display: block;

}

/* Content */

.content-style {
    background-color: #3b89ac;
	/*#427085 */
    padding-top: 55px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width:80%;
	/*color:#03244b;*/
	color:#03244b;
	margin:15px auto;
}

#ikonce{
	color:white;
	font-weight:bold;
	width:55%;
	margin:20px auto;
	border:1px solid white;
}
#ikonce li{
	display:inline-block;
	width:49%;
	min-width:170px;
	padding-top:10px;
}
#ikonce p,#ikonce i{
	display:inline-block;
}
#ikonce i{
	margin-right:8px;
	font-size:20px;
}

/* Images */

.single-image{
    display: inline-block;
    /*margin: auto;*/
    width: 50%;
    max-width: 800px;
    height: 100%;
	padding-top:10px;
}

/* Text Section */

.source-section{
    padding: 20px;
}

.link{
    padding: 20px;
}

.text-section {
    padding: 20px;
}

.text-section > div {
    padding-left: 20px;
    padding-right: 20px;
	
}

.text-section > div > h3 {
    padding: 5px;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

/* Map */
.map-container{
    width: 100%;
}

.map-container iframe{
    pointer-events: none;
}

.map-container iframe.clicked{
	pointer-events: auto;
}

/* Language Chooser */

.language-chooser{
    position: fixed;
    right: 5px;
}

/* Footer */

footer {
    background-color: #153f65;
    color: white; 
	padding-top:10px;
}

footer p{
	display:inline-block;
	padding-left:10px;
}
footer li{
	list-style:none;
}
footer ul {
	margin-bottom:0;
}


/* Size Dependent */

@media (min-width: 1200px) {
    .language-chooser{
        top: 60px;
    }
}

@media (max-width: 1199.98px) { 
    .language-chooser{
        top: 60px;
    }
}

@media (max-width: 991.98px) { 
    .language-chooser{
        top: 70px;
    }
}

@media (max-width: 767.98px) {
    .language-chooser{
        top: 60px;
    }
}

/*
@media (max-width: 575.98px) { 
}*/

/* Other */

.no-margin{
    margin-left: 0px;
    margin-right: 0px;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}