body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #03244b;
}

nav {
    background-color: #03244b;
}

/* Carousel */

.carousel-item > img {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
}

/* Content */

.content-style {
    background-color: #a7d0ee /*#ffffff*/;
    padding-top: 55px;
}

/* Images */

.single-image{
    display: block;
    width: 100%;
    height: 100%;
}

/* Text Section */

.source-section{
    
}

.text-section {
    padding: 20px;
}

.text-section > div {
    padding-left: 20px;
    padding-right: 20px;
}

.text-section > div > h3 {
    padding: 5px;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

/* Map */
.map-container{
    width: 100%;
}

.map-container iframe{
    pointer-events: none;
}

.map-container iframe.clicked{
	pointer-events: auto;
}

/* Language Chooser */

.language-chooser{
    position: fixed;
    right: 5px;
}

/* Footer */

footer {
    background-color: #03244b;
    color: white; 
}

/* Size Dependent */

@media (min-width: 1200px) {
    .language-chooser{
        top: 60px;
    }
}

@media (max-width: 1199.98px) { 
    .language-chooser{
        top: 60px;
    }
}

@media (max-width: 991.98px) { 
    .language-chooser{
        top: 70px;
    }
}

@media (max-width: 767.98px) {
    .language-chooser{
        top: 60px;
    }
}

/*
@media (max-width: 575.98px) { 
}*/

/* Other */

.no-margin{
    margin-left: 0px;
    margin-right: 0px;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}